* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
    color: #9a9a9a;
    font-family: 'Montserrat', sans-serif;
    font-size: small
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.contenitore {
    height: calc(100vh - 80px);
    overflow: auto;
}

a {
    color: #9a9a9a;
    text-decoration: none;
}

a:hover {
    color: white;
}

li {
    list-style-type: none;
    margin-top: 30px;
}

.container {
    padding: 7px;
    margin: auto;
    max-width: 1400px;
}

aside {
    height: calc(100vh - 80px);
    width: 20%;
    background-color: black;
    float: left;
    position: fixed;
}

.wrap {
    padding: 7px;
    height: 100%;
}

div.logo, div.menu, div.profilo {
    text-align: center;
}

.fas.mobile {
    color: white;
    font-size: 20px;
}

.display-no {
    display: none;
}

.fa-spotify {
    color: #84b200;
    margin-top: 20px;
}

.menu i {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

.profilo {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 7px;
}

main {
    float: left;
    width: 80%;
    padding-left: 150px;
}

nav {
    width: 100%;
    justify-content: center;
}

nav ul li {
    display: inline-block;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav a {
    padding: 5px;
    text-transform: uppercase;
    font-size: small;

}


p.titolo {
    margin: 60px 0 0 15px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.galleria {
    display: flex;
    flex-wrap: wrap;
}

.card {
    background-color: #282828;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    text-transform: capitalize;
    line-height: 28px;
}

.card img {
    height: auto;
    width: 100%;
}

.card p {
    color: white;
    font-size: medium;
}

footer {
    height: 80px;
    width: 100%;
    background-color: lightgreen;
}

/* @media all and (min-width: 768px) {
    .display-no.display-t {
        display: flex;
        justify-content: center;
        font-size: 13px;

    }
} */

@media all and (min-width: 768px) {
    .display-no{
        display: inline-block;
    }

    .fas.mobile {
        display: none;
    }

    body > div > aside > div:nth-child(1) > div.menu > ul, body > div > aside > div:nth-child(2) > div > ul {
        text-align: left;
    }

    a.display-no, .playlist.display-no {
        font-size: small;
    }

    .menu ul li a:hover{
        color: white;
        border-left: 2px solid #84b200;
    }

    main {
        padding-left: 200px;
    }

    nav a:hover {
        border-bottom: 2px solid #84b200;
    }

    .fa-home, .fa-search, .fa-grip-lines-vertical, .fa-arrow-circle-down, .fa-user {
        font-size: 18px;
        margin-right: 10px;
    }


    img.spotify-logo-big {
        width: 100%;
    }

    body > aside > div > div.menu, body > aside > div:nth-child(2) > div {
    text-align: left;
    }

    body > aside > div:nth-child(2) > div {
        padding: 7px;
    }

    .fa-spotify {
        display: none;
    }

    div.plus, div.heart {
        width: 30px;
        height: 30px;
    }


    li.plus::before {
        content: '\f067';
    	position: relative;
        color: black;
    	font-family: "Font Awesome 5 Pro";
        font-weight: bold;
        background-color: white;
        opacity: 0.5;
        padding: 10px;
        margin-right: 10px;
    }

    li.heart::before {
        content: '\f004';
    	position: relative;
        color: white;
    	font-family: "Font Awesome 5 Pro";
        font-weight: bold;
        background: rgb(54,38,146);
        background: linear-gradient(128deg, rgba(54,38,146,1) 0%, rgba(154,154,154,1) 100%);
        opacity: 0.5;
        padding: 10px;
        margin-right: 10px;
    }

    li.heart:hover::before, li.plus:hover::before {
        opacity: 1;
    }

    .playlist p{
        margin-top: 55px;
        text-transform: uppercase;
    }

    .card {
        margin: 9px;
    }
}

@media all and (min-width: 1024px) {
    aside {
        width: 200px
    }

    main {
        width: calc(100% - 200px);
    }
}
